<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="styles/main.css">
 
  <title>Article page</title>
</head>

<body>
  <main>
      <header>
        <h1>Blog post</h1>
        <p>Welcome to my collection of articles and essays. Explore the titles below:</p>
      </header>